import * as S from './styles'
import { {{pascalCase name}}Props } from './types'

export const {{pascalCase name}} = ({ ...props }: {{pascalCase name}}Props) => (
  <S.Wrapper {...props}>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)
