import * as S from './styles'
import * as C from 'components'

const {{pascalCase name}} = () => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  )
}

export default {{pascalCase name}}
